@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for a sleeker slider */
body {
  background-color: #f0f4f8; /* A neutral background to make the card pop */
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: #6DB5A6 !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}